* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    margin-right: 0;
    font-family: 'Open Sans', sans-serif;
}
.head {
    margin-top: 20px;
}
.toplogo {
    width: 3cm;
}
button {

    width: 70%;
    margin-left:1cm;
    color: white;
    background-color:hsl(322, 100%, 66%);
    border: none;
    border-radius: 3cm;
    margin-bottom: 4rem;
    padding: 0.3cm;
    align-self: center;
}
.headings{
font-size: 1.8cm;
margin-bottom: 5px;
width: 70%;
margin: 5px auto;

}
.h {
width: 70%;
    margin: 1px auto;
    color: gray;
    letter-spacing: 2px;
}
.grow {
 background-color:hsl(207, 100%, 98%) ;
 margin: 0;
 padding: 0;


}
.head {

    width: 88%;
}
.topp {
width: 80%;
margin: 0 auto;
 }
 .growtop {
     width : 100%;
     margin-bottom: -5px;
 }
 .FC {
     margin: 4cm auto;
     
 }
 .fch {
     width 60%;
     margin-left: 1.8cm;
     
     margin-top: 2cm;
     align-content: center;
     
    }
    .fcp {
        width: 80%;
        margin-top: 3px;
    }
    .gth {

        width 60%;
        margin-left: 3cm;
        
        margin-top: 2cm;
        align-content: center;
    }
    .gtp {
        width: 80%;
        margin-top: 3px;
        margin-left: 1cm;

    }
    .YU {
        background-color: hsl(207, 100%, 98%);
    }
    .yuh {
        width 60%;
        margin-left: 3cm;
        
        margin-top: 2cm;
        align-content: center;

    }
    .yup {
        width: 80%;
        margin-top: 3px;
        margin-left: 1cm;

    }
    .rtb {
        margin-top: 2cm;
        margin-left: 2.4cm;
        margin-bottom: 1cm;
    }
    .rtbt {
        margin-left: 2cm;
        width: 60%;
        margin-bottom: 4cm;
         }
         .foot {
             margin-bottom: 1cm;
             background-color: hsl(192, 100%, 9%);
         }
.hudd {
    display: flex;
    margin-left: 1cm;
    letter-spacing: 2px;
}
@media all and (min-width:1024px)
{
  .th1 {
      width: 60%;
      position: relative;
      left: 1.3cm;
      
  } 
  .p1 {
      width: 45%;
      
  }
  .bt1 {
      width: 7cm;
      position: relative;
      left: 12cm ;

  }
  .img1 {
      width :80%;
      margin-left: 10%;
  }
  .img2 {
      margin-left: 0;
      position: relative;
      left: 0px;
      display: inline;

  }
  .con {
      display: flex;
      margin-top: 3cm;
      width: 80%;
      margin-left: 10%;
  }
 .con1 {
     display: flex;
     flex-direction: column;
 }
 .con2 {
     display: flex;
     flex-direction: column;
     margin-top: -2.4cm;
 }
 .imagemessage {
     margin-left: 1cm;
 }
 .img2 {
     margin-left: 1.3cm;
 }
 .imggt {
     width: 50%;
 }
 .gtd
 {
     margin-top: 5cm;
     width: 50%;
 }
 .grow {
     display: flex;
     flex-direction: row-reverse;
 }
 .fcimage {
     width: 50%;
 }
 .fcd {
     width: 50%;
     margin-top: 5cm;
 }
 .FC {
     display: flex;
 }
 .yuimage {
     width: 50%;
 }
 .yud {
     width: 50%;
     margin-top: 5cm;
 }
 .YU {
     display: flex;
     flex-direction: row-reverse;
 }
 .rtbc {
     display: flex;
     flex-direction: column;
     align-content: center;
     justify-content: center;
     
 }
 .rtbt {
     width: 14cm;
     margin-left: 11cm;
 }
 .rtb {
     margin-left: 15cm;
 }
 .f1 {
     width: 50%;
 }
 .f2 {
     width: 50%;
 }
 .foot {
     display: flex;
     flex-direction: row-reverse;
 }
 .sub {
     display : flex;
 }
 .fbutton {
     margin-left: -4cm;
     height: 2cm;
     font-size: 1cm;
 }
 .femail {
     height: 1.6cm;
     width: 0cm;
     padding: 0;
 }
}