* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    margin-right: 0;
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    font-weight: bold;
}
.th1 {
    margin-top: 5rem;
    margin-left: 20%;
    
    width: 87%;
    font-weight: 700;
    font-size: large;
}
.p1 {
    margin-top: 20px;
    margin-bottom: 30px;
    line-height: 18px;
    margin-left: 15%;
    width: 93%;
    font-weight: lighter;
    font-size: 11px;
    word-spacing: 2px;

}
.head {
    margin-top: 20px;
}
.toplogo {
    width: 3cm;
    padding-left: 2px;
}
button {

    width: 70%;
    margin-left:1.6cm;
    color: white;
    background-color:hsl(322, 100%, 66%);
    border: none;
    border-radius: 3cm;
    margin-bottom: 4rem;
    padding: 0.3cm;
    align-self: center;
}
.img2 {
    width: 1cm;
     height:0.8cm ;
     position: relative;
     left: 1cm;
}
.imggt {
    width: 90%;

}
.imagemessage {
    width: 1cm; 
    height:0.8cm ; 
    position: relative; 
    left: 1cm;
     margin-top: 6rem;
    }
    .fcimage {
        width: 90%;
        margin-left: 5%;
    }
.headings{
font-size: 1.4cm;
margin-bottom: 5px;
width: 70%;
margin: 5px auto;

}
.h {
width: 70%;
    margin: 1px auto;
    color: gray;
    letter-spacing: 2px;
    font-weight: lighter;
    font-size: small;
    margin-left: 1.5cm;
}
.grow {
 background-color:hsl(207, 100%, 98%) ;
 margin: 0;
 padding: 0;


}
.head {

    width: 88%;
}
.topp {
width: 80%;
margin: 0 auto;
 }
 .growtop {
     width : 100%;
     margin-bottom: -5px;
 }
 .FC {
     margin: 4cm auto;
     margin-bottom: 2cm;
     
 }
 .fch {
    width : 90%;
    margin-left: 1.3cm ;
    font-weight: bold;
    font-size: larger;
    
    margin-top: 2cm;
    align-content: center;
     
    }
    .fcp {
        width: 85%;
        align-content: center;
        justify-content: center;
        margin-top: 5px;
        margin-left: 0.7cm;
        font-weight: 1px;
        font-weight: 500;
        font-size: 12px;
        margin-bottom: 1cm;
    }
    .gth {

        width : 60%;
        margin-left: 2cm;
        
        margin-top: 2cm;
        align-content: center;
    }
    .gtp {
        width: 85%;
        align-content: center;
        justify-content: center;
        margin-top: 5px;
        margin-left: 1cm;
        font-weight: 1px;
        font-weight: 500;
        font-size: 12px;
        margin-bottom: 1cm;
    

    }
    .YU {
        background-color: hsl(207, 100%, 98%);
    }
    .yuh {
        width : 90%;
        margin-left: 2.5cm ;
        font-weight: bold;
        font-size: larger;
        
        margin-top: 2cm;
        align-content: center;
        margin-bottom: 10px;

    }
    .yup {
        width: 85%;
        align-content: center;
        justify-content: center;
        margin-top: 5px;
        margin-left: 0.7cm;
        font-weight: 1px;
        font-weight: 500;
        font-size: 12px;
        margin-bottom: 1cm;
    

    }
    .yud {
        margin-bottom: 1.1cm;
    }
    .rtb {
        margin-top: 2cm;
        margin-left: 2cm;
        margin-bottom: 1cm;
        font-weight: bold;
        font-size: large;
        line-height: 30px;
    }
    .rtbt {
        margin-left: 2cm;
        width: 55%;
        margin-bottom: 4cm;
     font-weight: bold;
     font-size: x-small;    
    }
         .foot {
             margin-bottom: 1cm;
             padding-top: 1cm;
             background-color: hsl(192, 100%, 9%);
         }
         .footp {
            margin-bottom:0px;
            color: white;
             width: 90%; 
            margin:0.8cm auto;
            font-weight:normal;
            font-size: 11px;
            letter-spacing:1px;
            word-spacing: 2px;
            margin-left: 5%;
        }
.hudd {
    display: flex;
    margin-left: 16px;
    letter-spacing: 2px;

}
.fbutton {
     width: 40%;
     position: relative;
     left: 3.5cm;
     font-size: small;
     font-weight: normal;
     letter-spacing: 2px;
     border-radius: 5px;
     padding: 0px auto;
     padding-top: 6px;
     padding-bottom: 6px;
}
.logo {
    width: 0.8cm;
    height: 0.8cm;
    padding-left: 5px;
}
.huddp {
    margin-bottom:0px;
            color: white;
             width: 90%; 
            margin:0.8cm auto;
            font-weight:normal;
            font-size: 11px;
            letter-spacing:1px;
            word-spacing: 2px;
            margin-left: 5%;
}
.header {
    padding-top: 8px;
}
.logos {
    margin-left: 13px;
    margin-bottom: 1cm;
}
.femail {
    margin-bottom:0px;
    color: white;
     width: 85%;
     margin-left: 8%;
     margin-bottom: 8px;
     padding: 5px;
     border-radius: 5px;
     border-style: none;
}
@media all and (min-width:768px)
{
  
    .th1 {
      width: 60%;
      position: relative;
      left: 1.9cm;
      
  }
  .head {
      margin-left: 5%;
  } 
  .p1 {
      width: 45%;
      position: relative;
      left: 3.8cm;
      
  }
  .bt1 {
      width: 5cm;
      padding-left: 0.3cm;
      position: relative;
      left: 4.5cm ;
      font-weight: normal;
      font-size: normal;

  }
  .img1 {
      width :80%;
      margin-left: 10%;
  }
  .img2 {
      margin-left: 0;
      position: relative;
      left: 0px;
      display: inline;

  }
  .con {
      display: flex;
      margin-top: 3cm;
      width: 80%;
      margin-left: 10%;
  }
 .con1 {
     display: flex;
     flex-direction: column;
 }
 .con2 {
     display: flex;
     flex-direction: column;
     margin-top: -2.4cm;
 }
 .imagemessage {
     margin-left: 1cm;
 }
 .img2 {
     margin-left: 1.3cm;
 }
 .imggt {
     width: 50%;
 }
 .gtd
 {
     margin-top: 1cm;
     width: 50%;
 }
 .grow {
     display: flex;
     flex-direction: row-reverse;
 }
 .fcimage {
     width: 50%;
 }
 .fcd {
     width: 50%;
     margin-top: 5cm;
 }
 .FC {
     display: flex;
 }
 .yuimage {
     width: 50%;
 }
 .yud {
     width: 50%;
     margin-top: 5cm;
 }
 .YU {
     display: flex;
     flex-direction: row-reverse;
 }
 .rtbc {
     display: flex;
     flex-direction: column;
     align-content: center;
     justify-content: center;
     position: relative;
     left: 1cm;
     
 }
 .rtbt {
     width: 8cm;
     margin-left: -2cm;
 }
 .rtb {
     margin-left: 7cm;
 }
 .f1 {
     width: 50%;
 }
 .f2 {
     width: 50%;
 }
 .foot {
     display: flex;
     flex-direction: row-reverse;
 }
 .sub {
     display : flex;
 }
 .fbutton {
     margin-left: -3cm;
     height: 1cm;
     width: 3.2cm;
     font-size: 18px;
 }
 .femail {
     height: 1cm;
     width: 6cm;
     padding: 0;
     margin-left: 0.3cm;
 }
}